<footer
          class="text-center text-lg-start text-white"
          style="background-color: #fea176"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Pt. Chirag Nagar
            </h6>
            <p>A highly esteemed individual in Ujjain,
                renowned for his proficiency in leading ritualistic prayers.
                
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3", id="Quick">
            <h6 class="text-uppercase mb-4 font-weight-bold">Quick links</h6>
            <p>
              <a class="text-white">Home</a>
            </p>
            <p>
              <a class="text-white">About Us</a>
            </p>
            <p>
              <a class="text-white">Photos</a>
            </p>
            <p>
              <a class="text-white">Review</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3", id="Puja">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              PUJA SERVICES
            </h6>
            <p>
              <a class="text-white">Maha Mritunjay Jab</a>
            </p>
            <p>
              <a class="text-white">Maha Rudra Abhishek</a>
            </p>
            <p>
              <a class="text-white">Mangal Bhat Pujan</a>
            </p>
            <p>
              <a class="text-white">Kalsarp Dosh</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact Us</h6>
            <p><i class="fas fa-home mr-3"></i> 45,Akhand Mahakal colony,near Chardham Mandir,Ujjain(M.P)</p>
            <p><i class="fas fa-envelope mr-3"></i> Pt.ChiragNagar@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> +917987196114</p>
            <p><i class="fas fa-phone mr-3"></i> +919826633043</p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2024 Copyright:
              <a class="text-white" href="Pt.Chirag Nagar"
                 >Pt.Chirag Nagar</a
                >
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a href="https://www.facebook.com/chirag.nagar.1000"
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Twitter -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-twitter"></i
              ></a>

            <!-- Instagram -->
            <a
               href="https://www.instagram.com/the_illuminant_boy/"
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-instagram"></i
              ></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>

