  
body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    flex: 1;
  }
  
/* Navbar */
.navbar {
    height: 5rem;
    background-color: #918653;
    
  }
  
  .fa-compass {
    color: #fe424d;
    font-size: 2rem;
  }
  
  .nav-link {
    color: #222222 !important;
  }
  


/* Footer */

  #mail {
    text-decoration: none;
    font-style: none;
    color: #fff;
  }

  .text-center.text-lg-start.text-white{
    margin-top: 50px ;
  }


#Quick, #Puja {
    text-decoration: none !important ;
}

/* Panchang */

.currentDate{
    font-family: fantasy;
    margin: 0px 0px 15px;
    color: #000000;
    
}

/* puja */
.carde-mb-5{
  max-height:initial !important;
  max-width: fit-content !important;

}
.container{
  margin-top: 2%;
}


.btn.btn-transference{
  background: 0 0;
  text-decoration: none;
  color: #f05724;
  border: 1px solid #f05724 ;
}

.btn.btn.btn-transference:hover{
  background-color: #f05724;
  color: #fff;
}

.card-title{
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;;
  color: #f05724 !important;
}

.card-text{
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  color: #353535;
  margin: 0px 0px 15px;

}

.card.mb-5:hover{
    opacity: 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

.row{
  
    display: flex;
    flex-wrap: wrap;
    margin-top: -1rem;
    margin-right: -3rem;
    margin-left: -3rem;
}
.box-image{
  object-fit: cover !important;
  width: 100% !important;
  height: 100%;
}

/* puja 1 */

article{
  display: block;
}

.dsc{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.h1-title{
  margin-top: 20px;
  font-size: 44px;
  text-transform: uppercase;
  font-family: 'Bebas Neue Bold', fantasy;
  color: #000000;
  margin-bottom: 15px;
  line-height: 1.1 !important;
  font-weight: 500;
}
.h1-title:hover{
  font-family: "bebas neue bold", sans-serif;
}

.btn.btn-theme{
  background: 0 0;
  text-decoration: none;
  color: #f05724;
  border: 1px solid #f05724 ;
  text-align: center;
  line-height: 1;
  overflow: hidden;
text-transform: uppercase;
}




.btn.btn-theme:hover{
  background-color: #f05724;
  color: #fff;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto;
}





