  
body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-color: #c11e29;   */
    background-color: #512222 !important;
  }
  
  .container {
    flex: 1;
  }

  .wapp{
    text-decoration: none;
    font-size: xxx-large;
    padding: 0%;
    margin-right: 5% !important;
  }
  
/* Navbar */
.navbar {
    height: 5rem;
    background-color: #f5c7b8;
    
  }
  
  .fa-compass {
    color: #fe424d;
    font-size: 2rem;
  }
  
  .nav-link {
    color: #222222 !important;
  }
  


/* Footer */

  #mail {
    text-decoration: none;
    font-style: none;
    color: #fff;
  }

  .text-center.text-lg-start.text-white{
    margin-top: 50px ;
  }


#Quick, #Puja {
    text-decoration: none !important ;
}

/* Panchang */

.currentDate{
    font-family: fantasy;
    margin: 0px 0px 15px;
    color: #000000;
    
}

/* puja */


.card-img-top {
  /* border-radius: 1rem !important; */
  width: 100% !important;
  object-fit: cover !important;
}

.card-margin {
  margin: 1rem !important;
}

.btn.btn-transference{
  background: 0 0;
  text-decoration: none;
  color: #f05724;
  border: 1px solid #f05724 ;
}

.btn.btn.btn-transference:hover{
  background-color: #f05724;
  color: #fff;
}

.card-title{
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;;
  color: #f05724 !important;
}

.card-text{
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  color: #353535;
  margin: 0px 0px 15px;

}

.card:hover{
    opacity: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }


/* puja 1 */

article{
  display: block;
}

P{
  padding: 0%;
  margin: 0px 0px 20px;
}

.p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
    
}

.h1-title{
  margin-top: 20px !important;
  font-size: 44px;
  text-transform: uppercase;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #f05724;
  margin-bottom: 15px;
  line-height: 1.3 !important;
}

.btn.btn-theme{
  background: 0 0;
  text-decoration: none;
  color: #f05724;
  border: 1px solid #f05724 ;
  text-align: center;
  line-height: 1;
  overflow: hidden;
  text-transform: uppercase;
  margin-left: 30%;
}




.btn.btn-theme:hover{
  background-color: #f05724;
  color: #fff;
  opacity: 2px;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 14px 40px 0px, rgba(0, 0, 0, 0.10) 0px 0px 0px 2px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto;
}
p{
  justify-content: center !important;
}

.ps-desc{
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.img-top{
  margin-top: 1.5rem;
  border-radius: 2%;
}





