<% layout("/layouts/boilerplate") %>
<h1>Panchang</h1>

<div class="content">
    <article id="post-1119" class="post-1119 type-page status-publish hentry">
        <div data-elementor-type="wp-page" data.elementor-id="1119" class="elementor elementor-1119">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-41b4436 elementor-section-boxed elementor-section-height-default elementor-section-height-default 
            " data-="41b4436" data-element_type="section">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-eb0d178 elementor-widget elementor-widget-shortcode"
                data-id="eb0d178" data-element_type="widget" data-widget-type="shortcode.default">
                <div class="elementor-widget-container">
                    <div class="elementor-shortcode">
                        <div class="chogadiya">
                            <div class="row mb-3">
                                    <div class="col-md-8">
                                        <h2 class="currentDate">Tuesday, March 05, 2024</h2>
                                    </div>
                                <div class="col-md-4">
                                    <input type="date" id="ChogadiyaDate" class="form-control" value="2024-03-24" min="2024-01-01" max="2030-12-31">
                                </div>
                            </div>
                        </div>
                        <div id="ChogadiyaData">
                            <div class="row">
                                <div class="col-md-6">
                                    <table class="table table-bordered table-striped border-light">
                                        <thead class="table-light">
                                            <tr>
                                                <th colspan="2">
                                                    <div class="d-flex justify-content-between">
                                                        <div>Day Panchang</div>
                                                        <div>06:45 AM</div>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Amrita - Best</td>
                                                <td>
                                                    "06:45 AM to 08:15 AM"
                                                    <br>
                                                    <strong></strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Kala - Loss</td>
                                                <td>
                                                    "08:15 AM to 09:45 AM" 
                                                    <br>
                                                    <strong>Kaal vela</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Shubha - Good</td>
                                                <td>
                                                    "09:45 AM to 11:15 AM"
                                                    <br>
                                                    <strong></strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Roga - Evil</td>
                                                <td>
                                                    "11:15 AM to 12:45 PM"
                                                    <br>
                                                    <strong></strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Udvega - Bad</td>
                                                <td>
                                                    "12:45 PM to 02:15 PM"
                                                    <br>
                                                    <strong></strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Chara - Neutral</td>
                                                <td>
                                                    "02:15 PM to 03:45 PM"
                                                    <br>
                                                    <strong></strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Labha - Gain</td>
                                                <td>
                                                    "03:45 PM to 05:15 PM"
                                                    <br>
                                                    <strong></strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Amrita - Best</td>
                                                <td>
                                                    "05:15 AM to 06:45 AM"
                                                    <br>
                                                    <strong></strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-bordered table-striped border-light">
                                        <thead class="table-light">
                                            <tr>
                                                <th colspan="2">
                                                    <div class="d-flex justify-content-between">
                                                        <div>Night Panchang</div>
                                                        <div>06:45 PM</div>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Kala - Loss</td>
                                                <td>
                                                    "06:45 PM to to 08:15 PM"
                                                    <br>
                                                    <strong></strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Labha - Gain</td>
                                                <td>
                                                    "08:45 PM to to 10:15 PM"
                                                    <br>
                                                    <strong> Kaal Ratri</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Udvega - Bad</td>
                                                <td>
                                                    "10:15 PM to to 11:45 PM"
                                                    <br>
                                                    <strong></strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Shubha - Good</td>
                                                <td>
                                                    "11:45 PM to to 01:15 AM"
                                                    <br>
                                                    <strong></strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Amrita - Best</td>
                                                <td>
                                                    "01:15 AM to to 02:45 AM"
                                                    <br>
                                                    <strong></strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Chara - Neutral</td>
                                                <td>
                                                    "02:45 AM to to 04:15 AM"
                                                    <br>
                                                    <strong></strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Roga - Evil</td>
                                                <td>
                                                    "04:15 AM to to 05:45 AM"
                                                    <br>
                                                    <strong></strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Kala - Loss</td>
                                                <td>
                                                    "05:45 AM to to 06:30 AM"
                                                    <br>
                                                    <strong></strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            </div>
        </section>
        </div>
    </article>
</div>