<% layout("/layouts/boilerplate") %>


<div class="container">
    <div class="row">
        <article class="col-12 col-lg-6 post-75">
            <div class="card mb-5" style="max-width: 700px;">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                     <div class="box-image">
                        <img src="Pic/p4.jpg" class="img-fluid rounded-start" alt="Mangal Bhat Pujan">
                     </div>
                    </div>
                  <div class="col-12 col-md-6">
                     <div class="box-content">
                      <div class="card-body">
                      <h5 class="card-title">Mangal Bhat Pujan</h5>
                      <p class="card-text">This Puja is very famous puja world Wide because this puja is done only in Ujjain.
                        A shivilinga is situvated on the banks of river shipra where Bhat Pujan is done.</p>
                        <a href=".." class="btn btn-transference">Book Puja</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </article>
        <article class="col-12 col-lg-6 post-75">
            <div class="card mb-5" style="max-width: 700px;">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                     <div class="box-image">
                        <img src="Pic/p4.jpg" class="img-fluid rounded-start" alt="Mangal Bhat Pujan">
                     </div>
                    </div>
                  <div class="col-12 col-md-6">
                     <div class="box-content">
                      <div class="card-body">
                      <h5 class="card-title">Mangal Bhat Pujan</h5>
                      <p class="card-text">This Puja is very famous puja world Wide because this puja is done only in Ujjain.
                        A shivilinga is situvated on the banks of river shipra where Bhat Pujan is done.</p>
                        <a href=".." class="btn btn-transference">Book Puja</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </article>
        <article class="col-12 col-lg-6 post-75">
            <div class="card mb-5" style="max-width: 700px;">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                     <div class="box-image">
                        <img src="Pic/p4.jpg" class="img-fluid rounded-start" alt="Mangal Bhat Pujan">
                     </div>
                    </div>
                  <div class="col-12 col-md-6">
                     <div class="box-content">
                      <div class="card-body">
                      <h5 class="card-title">Mangal Bhat Pujan</h5>
                      <p class="card-text">This Puja is very famous puja world Wide because this puja is done only in Ujjain.
                        A shivilinga is situvated on the banks of river shipra where Bhat Pujan is done.</p>
                        <a href=".." class="btn btn-transference">Book Puja</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </article>
        <article class="col-12 col-lg-6 post-75">
            <div class="card mb-5" style="max-width: 700px;">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                     <div class="box-image">
                        <img src="Pic/p4.jpg" class="img-fluid rounded-start" alt="Mangal Bhat Pujan">
                     </div>
                    </div>
                  <div class="col-12 col-md-6">
                     <div class="box-content">
                      <div class="card-body">
                      <h5 class="card-title">Mangal Bhat Pujan</h5>
                      <p class="card-text">This Puja is very famous puja world Wide because this puja is done only in Ujjain.
                        A shivilinga is situvated on the banks of river shipra where Bhat Pujan is done.</p>
                        <a href=".." class="btn btn-transference">Book Puja</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </article>

        
        
    </div>  
</div>
  




      
