<% layout("/layouts/boilerplate") %>
<h1>Puja Card</h1>
<div class="container">
    <div class="row">
        <article id="post-77" class="col-12 col-lg-6 post-77">
        <div class="puja-services-box">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="box-image">
                        <a href="Pic\p4.jpg" rel="Mangal Bhat Pujan">
                            <img fetchproiority="high" width="768" height="576" src="Pic\p4.jpg"
                            class="img-fluid wp-post-image" alt="Maha Rudra Abhishek" decoding="async"
                            srcset="..." sizes="(max-width: 768px) 100vw" title="Maha Rudra Abhishek">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="box-content">
                        <h2 class="title"><b>
                            <a href="Pic/p4.jpg">Mangal Bhat Pujan</a>
                        </b>
                           
                        </h2>
                        <p class="desc">
                            "This Puja is very famous puja world Wide because this puja is done only in Ujjain.
                            A shivilinga is situvated on the banks of river shipra where Bhat Pujan is done."
                        </p>
                        <a href=".." class="btn btn-transference">Book Puja</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article id="post-77" class="col-12 col-lg-6 post-77">
        <div class="puja-services-box">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="box-image">
                        <a href="Pic\p4.jpg" rel="Laghu Rudra">
                            <img fetchproiority="high" width="768" height="576" src="Pic\p4.jpg"
                            class="img-fluid wp-post-image" alt="Maha Rudra Abhishek" decoding="async"
                            srcset="..." sizes="(max-width: 768px) 100vw" title="Laghu Rudra">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="box-content">
                        <h2 class="title"><b>
                            <a href="Pic/p4.jpg">Laghu Rudra</a>
                        </b>
                            
                        </h2>
                        <p class="desc">
                            "Laghu Rudra is a shortened version of the ancient Vedic Rudra Abhishekam ritual,
                             involving the chanting of Rudram and offering of various items to Lord Shiva."
                        </p>
                        <a href=".." class="btn btn-transference">Book Puja</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article id="post-77" class="col-12 col-lg-6 post-77">
        <div class="puja-services-box">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="box-image">
                        <a href="Pic\p4.jpg" rel="Kalsarp Dosh">
                            <img fetchproiority="high" width="768" height="576" src="Pic\p4.jpg"
                            class="img-fluid wp-post-image" alt="Maha Rudra Abhishek" decoding="async"
                            srcset="..." sizes="(max-width: 768px) 100vw" title="Kalsarp Dosh">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="box-content">
                        <h2 class="title"><b>
                            <a href="Pic/p4.jpg">Kalsarp Dosh</a> 
                        </b>
                            
                        </h2>
                        <p class="desc">
                            "Kalsarp dosh is a belief in Hindu astrology where all planets align between Rahu and Ketu,
                            believed to cause misfortune and obstacles in life.."
                        </p>
                        <a href=".." class="btn btn-transference">Book Puja</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article id="post-77" class="col-12 col-lg-6 post-77">
        <div class="puja-services-box">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="box-image">
                        <a href="Pic\p4.jpg" rel="Maha Rudra Abhishek">
                            <img fetchproiority="high" width="768" height="576" src="Pic\p4.jpg"
                            class="img-fluid wp-post-image" alt="Maha Rudra Abhishek" decoding="async"
                            srcset="..." sizes="(max-width: 768px) 100vw" title="Maha Rudra Abhishek">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="box-content">
                        <h2 class="title"><b>
                            <a href="Pic/p4.jpg">Maha Rudra Abhishek</a>  
                        </b>
                            
                        </h2>
                        <p class="desc">
                            "Maha Rudra Abhishek is a Hindu ritual where Lord Shiva's lingam is bathed with sacred items, 
                            symbolizing purification and devotion."
                        </p>
                        <a href=".." class="btn btn-transference">Book Puja</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article id="post-77" class="col-12 col-lg-6 post-77">
        <div class="puja-services-box">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="box-image">
                        <a href="Pic\p4.jpg" rel="Maha Mritunjay Jab">
                            <img fetchproiority="high" width="768" height="576" src="Pic\p4.jpg"
                            class="img-fluid wp-post-image" alt="Maha Rudra Abhishek" decoding="async"
                            srcset="..." sizes="(max-width: 768px) 100vw" title="Maha Mritunjay Jab">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="box-content">
                        <h2 class="title"><b>
                            <a href="Pic/p4.jpg">Maha Mritunjay Jab</a>
                        </b>
                            
                        </h2>
                        <p class="desc">
                            "The Maha Mrityunjaya Mantra is a powerful Hindu mantra dedicated to Lord Shiva,
                             believed to bestow longevity, health, and inner peace upon recitation."
                        </p>
                        <a href=".." class="btn btn-transference">Book Puja</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article id="post-77" class="col-12 col-lg-6 post-77">
        <div class="puja-services-box">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="box-image">
                        <a href="Pic\p4.jpg" rel="Navagraha shanti">
                            <img fetchproiority="high" width="768" height="576" src="Pic\p4.jpg"
                            class="img-fluid wp-post-image" alt="Maha Rudra Abhishek" decoding="async"
                            srcset="..." sizes="(max-width: 768px) 100vw" title="Navagraha shanti">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="box-content">
                        <h2 class="title"><b>
                            <a href="Pic/p4.jpg">Navagraha shanti</a> 
                        </b>
                            
                        </h2>
                        <p class="desc">
                            "Navagraha Shanti is a Hindu ritual performed to appease the nine celestial bodies, or grahas,
                             to mitigate negative influences and enhance positive energies in one's life."
                        </p>
                        <a href=".." class="btn btn-transference">Book Puja</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article id="post-77" class="col-12 col-lg-6 post-77">
        <div class="puja-services-box">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="box-image">
                        <a href="Pic\p4.jpg" rel="Grahvastu pujan">
                            <img fetchproiority="high" width="768" height="576" src="Pic\p4.jpg"
                            class="img-fluid wp-post-image" alt="Maha Rudra Abhishek" decoding="async"
                            srcset="..." sizes="(max-width: 768px) 100vw" title="Grahvastu pujan">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="box-content">
                        <h2 class="title"><b>
                            <a href="Pic/p4.jpg">Grahvastu pujan</a> 
                        </b>
                            
                        </h2>
                        <p class="desc">
                            "Grahvastu Pujan is a ritual in Vedic astrology where prayers and offerings are made to appease planetary deities
                            for blessings and positive influences on individuals' lives."
                        </p>
                        <a href=".." class="btn btn-transference">Book Puja</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article id="post-77" class="col-12 col-lg-6 post-77">
        <div class="puja-services-box">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="box-image">
                        <a href="Pic\p4.jpg" rel="Durga path">
                            <img fetchproiority="high" width="768" height="576" src="Pic\p4.jpg"
                            class="img-fluid wp-post-image" alt="Maha Rudra Abhishek" decoding="async"
                            srcset="..." sizes="(max-width: 768px) 100vw" title="Durga path">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="box-content">
                        <h2 class="title"><b>
                            <a href="Pic/p4.jpg">Durga path</a>
                        </b>
                           
                        </h2>
                        <p class="desc">
                            "Durga Path is a Hindu ritual of reciting sacred verses, typically from the Durga Saptashati,
                            invoking blessings of Goddess Durga for protection, strength, and prosperity."
                        </p>
                        <a href=".." class="btn btn-transference">Book Puja</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article id="post-77" class="col-12 col-lg-6 post-77">
        <div class="puja-services-box">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="box-image">
                        <a href="Pic\p4.jpg" rel="Pitra dosh">
                            <img fetchproiority="high" width="768" height="576" src="Pic\p4.jpg"
                            class="img-fluid wp-post-image" alt="Maha Rudra Abhishek" decoding="async"
                            srcset="..." sizes="(max-width: 768px) 100vw" title="Pitra dosh">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="box-content">
                        <h2 class="title"><b>
                            <a href="Pic/p4.jpg">Pitra dosh</a>
                        </b>
                            
                        </h2>
                        <p class="desc">
                            "Pitra dosh is a belief in Hindu astrology indicating ancestral afflictions affecting one's 
                            life due to unresolved issues or sins of forefathers."
                        </p>
                        <a href=".." class="btn btn-transference">Book Puja</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article id="post-77" class="col-12 col-lg-6 post-77">
        <div class="puja-services-box">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="box-image">
                        <a href="Pic\p4.jpg" rel="Manglik dosh puja">
                            <img fetchproiority="high" width="768" height="576" src="Pic\p4.jpg"
                            class="img-fluid wp-post-image" alt="Maha Rudra Abhishek" decoding="async"
                            srcset="..." sizes="(max-width: 768px) 100vw" title="Manglik dosh puja">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="box-content">
                        <h2 class="title"><b>
                            <a href="Pic/p4.jpg">Manglik dosh puja</a>
                        </b>
                            
                        </h2>
                        <p class="desc">
                            "Manglik Dosh Puja is a Hindu ritual performed to mitigate the negative effects of Manglik Dosha,
                            a belief in astrology indicating challenges in marital life due to Mars' unfavorable position in the birth chart."
                        </p>
                        <a href=".." class="btn btn-transference">Book Puja</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    </div>
</div>
      


      
