<% layout("/layouts/boilerplate") %>
<div class="main-content">
    <div class="container pt 70">
    <article id="post-75">
        <div class="row ptb70 theme-flush-top-space theme-flush-bottom-space">
            <div class="col-12 col-lg-5">
                <div class="ps-image">
                    <img fetechpriority="high" width="768" height="432"
                    src=<%= puja.image.url %> alt="<%= puja.image.name %>">
                </div>
            </div>
            <div class="col-12 col-lg-7" >
                <div class="ps-content">
                    <h1 class="h1-title"><%= puja.title %></h1>
                    <div class="ps-desc">
                            <p><%= puja.description %></p>
                    </div>
                    <a href="..." class="btn btn-theme">Book Puja</a>
                </div>
            </div>
        </div> 
    </article>
</div>
</div>