<% layout("/layouts/boilerplate") %>
<div class="main-content">
    <div class="container pt 70">
    <article id="post-75">
        <div class="row ptb70 theme-flush-top-space theme-flush-bottom-space">
            <div class="col-12 col-lg-5">
                <div class="ps-image">
                    <img src="<%= puja.image.url %>" class="img-fluid rounded-start img-top" alt="<%= puja.image.name %>" style="height: 20rem;">
                </div>
            </div>
            <div class="col-12 col-lg-7" >
                <div class="ps-content">
                    <h1 class="h1-title"><%= puja.title %></h1>
                    <div class="ps-desc">
                            <p><%= puja.descriptionMain %></p>
                    </div>
                    <a href="..." class="btn btn-theme">Book Puja</a>
                </div>
            </div>
        </div> 
    </article>
</div>
</div>