<% layout("/layouts/boilerplate") %>
<h1>Puja Details</h1>


<div class="main-content">
    <div class="container pt 70">
    <article id="post-75">
        <div class="row ptb70 theme-flush-top-space theme-flush-bottom-space">
            <div class="col-12 col-lg-5">
                <div class="ps-image">
                    <img fetechpriority="high" width="768" height="432"
                    src="Pic/p4.jpg" alt="Magal Bhat Puja" title="Mangal Bhat Puja">
                </div>
                
            </div>
            <div class="col-12 col-lg-7" >
                <div class="ps-content">
                    <h1 class="h1-title">Mangal Bhat Pujan</h1>
                    <div class="ps-desc">
                            <p>
                                Mangal Bhat Puja, also known as Mangalwar Vrat or Tuesday fasting, holds significant importance in Hindu traditions, particularly in the context of astrology and planetary worship. This ritual is dedicated to appeasing Mangal Graha, also known as Mars, one of the Navagrahas (nine celestial bodies) in Vedic astrology. Mars is believed to govern energy, courage, aggression, and desire in an individual's life, and its alignment in one's astrological chart is thought to influence various aspects of life, including health, relationships, and career.

                                The Mangal Bhat Puja typically involves observing a fast on Tuesdays, as it is considered the day dedicated to Lord Mangal. Devotees wake up early in the morning, take a bath, and visit temples dedicated to Lord Mangal to offer prayers and seek blessings. The fasting ritual may vary among different regions and families, but it commonly involves abstaining from consuming food until sunset or consuming only specific types of food.
                                </p>
                                <P>

                                During the puja, devotees offer prayers, light incense sticks, and lamps, and chant hymns dedicated to Lord Mangal. The primary offering made during the puja is rice, often called "Mangal Bhat," along with other grains, fruits, and flowers. Some devotees also perform charitable acts on this day to seek the blessings of Lord Mangal.

                                he significance of Mangal Bhat Puja lies in its ability to mitigate the adverse effects of Mars in one's astrological chart. According to Vedic astrology, a malefic position of Mars can lead to conflicts, accidents, health issues, and other challenges in life. By observing this puja with devotion and sincerity, devotees believe they can pacify the wrath of Mars and receive blessings for a harmonious and prosperous life.

                            </p>
                    </div>
                    <a href="..." class="btn btn-theme">Book Puja</a>
                </div>
            </div>
        </div> 
    </article>
</div>
</div>